__pycache__
*.vvp
hardware/fpga/vivado/sim_scripts
hardware/fpga/vivado/vivado.ip_user_files
hardware/fpga/vivado/vivado.gen
hardware/fpga/vivado/vivado.data
hardware/fpga/vivado/vivado.cache
hardware/fpga/vivado/vivado.runs
hardware/fpga/vivado/vivado.hw
hardware/fpga/vivado/vivado.srcs/sources_1/bd/design_1/ui
*.jou
*.log
.Xil
vivado_pid*.str
*.ghw
*.vcd