__pycache__
*.vvp
fpga/vivado/sim_scripts
fpga/vivado/vivado.ip_user_files
fpga/vivado/vivado.gen
fpga/vivado/vivado.data
fpga/vivado/vivado.cache
fpga/vivado/vivado.runs
fpga/vivado/vivado.hw
fpga/vivado/vivado.srcs/sources_1/bd/design_1/ui
*.jou
*.log
.Xil
vivado_pid*.str
*.ghw